<%= render 'layouts/banner' %>
<script>AOS.init();</script>

<div class="container text-center">
  <h1>Drinks:</h1>
  <hr>
  <div class="row">
  <% @cocktails.each do |cock| %>
    <div class="col-xs-12 col-sm-4">
      <div data-aos="fade-up" class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
        <div class="card-description">
          <h2><%= cock.name %></h2>
        </div>
        <%= link_to "", cocktail_path(cock), class: "card-link"%>
      </div>
    </div>
  <% end %>
  </div>
</div>
