.form-container {
  background-color: white;
  border-top: solid 3px rgb(0,100,200);
  margin-top: 50px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 20px;
}
.file .optional {
  display: block;
  text-align: center;
  justify: center;
  margin-left: 80px;
}
