<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.papodebar.com/wp-content/uploads/2015/05/drinks-1200x520.jpg');">
  <div class="banner-content">
  <h1>Cock'n Tails</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= link_to "Create a new cocktail!", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
